torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0

# Triton override
triton==3.4.0  # force upgrade after torch pulls 3.0.0

transformers==4.41.2
peft==0.10.0
huggingface_hub==0.27.0
datasets==2.19.0
zstandard==0.23.0
numpy==1.26.4
sentencepiece==0.2.0
protobuf==4.25.2
scikit-learn==1.6.1
scipy==1.15.2
HolisticTraceAnalysis==0.2.0
